body {
    font-family: sans-serif;
    background: #1F1D2B;
    color: #ffffff;
    padding: 10px 20px;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
}

.input {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-direction: column;
}

.input input {
    background: #272636;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 3px 13px;
    border-radius: 5px;
    justify-content: center;
}

.fullwid {
    width: 100%;
}

.sb-Btn {
    border: none;
    width: 50px;
    border-radius: 5px;
    font-size: 25px;
    background: #272636;
    color: #ffffff;
}

.App {
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
}